In [ ]:
import pandas as pd

series = pd.read_table("http://rdatasciencecases.org/Data/offline.final.trace.txt", squeeze=True, 
                       engine='python', skiprows=2, skipfooter=1)
series.tail()

In [ ]:
df = pd.DataFrame([x.split(';') for x in series.values])
df

## Name rows

In [ ]:
var_names = [x.split("=")[0] for x in df.iloc[1][:4].values]

var_names

In [ ]:
mac_names = ['MAC_'+str(x) for x in range(len(df.iloc[1][4:].values))]

mac_names

In [ ]:
col_names = var_names + mac_names

col_names

In [ ]:
cols = dict(list(zip(df.columns.values, col_names)))

cols

In [ ]:
df.rename(columns=cols, inplace=True)
df.head()

## Set values

### Time

In [ ]:
df['t'] = df.t.str.replace("t=", "")

df.tail()

## Position

In [ ]:
df['pos'] = df.pos.str.replace("pos=", "")

df.tail()

In [ ]:
d = {}
for i, x in enumerate(df.pos.values):
    if x != None:
        temp = x.split(",")
        d[i] = [float(y) for y in temp]
    else:
        d[i] = None

pos = pd.Series(d)

df['pos'] = pos

df.pos

In [ ]:
df.head()

## Degree

In [ ]:
df['degree'] = df.degree.str.replace("degree=", "")

df.tail()

In [ ]:
df['degree'] = pd.to_numeric(df.degree, errors='coerce', downcast='float')

df.head()

## id

In [ ]:
df['id'] = df.id.str.replace("id=", "")

df.head()

# MAC Addresses

In [ ]:
MAC = df.iloc[:,4:]
MAC.head()

In [ ]:
l = []
for col in MAC.columns:
    d = {}
    colString = '{}'.format(col)
    for i, x in enumerate(df[colString].values):
        if x != None:
            temp = x.split("=")
            macId = temp[0]
            coords = [int(y) for y in temp[1].split(",")]
            d[i] = {macId: [coords[:2], coords[-1]]}
            #import pdb; pdb.set_trace()
        else:
            d[i] = None
    
    df[colString] = pd.Series(d)
    
df.head()

# Create new formatted file as a checkpoint

In [ ]:
df.to_pickle("mac.pkl")

In [214]:
import pandas as pd

df = pd.read_pickle("mac.pkl")
df.head()

,t,id,pos,degree,MAC_0,MAC_1,MAC_2,MAC_3,MAC_4,MAC_5,...,MAC_11,MAC_12,MAC_13,MAC_14,MAC_15,MAC_16,MAC_17,MAC_18,MAC_19,MAC_20
0,1139643118358,00:02:2D:21:0F:33,"[0.0, 0.0, 0.0]",0.0,"{'00:14:bf:b1:97:8a': [[-38, 2437000000], 3]}","{'00:14:bf:b1:97:90': [[-56, 2427000000], 3]}","{'00:0f:a3:39:e1:c0': [[-53, 2462000000], 3]}","{'00:14:bf:b1:97:8d': [[-65, 2442000000], 3]}","{'00:14:bf:b1:97:81': [[-65, 2422000000], 3]}","{'00:14:bf:3b:c7:c6': [[-66, 2432000000], 3]}",...,None,None,None,None,None,None,None,None,None,None
1,1139643118744,00:02:2D:21:0F:33,"[0.0, 0.0, 0.0]",0.0,"{'00:14:bf:b1:97:8a': [[-38, 2437000000], 3]}","{'00:0f:a3:39:e1:c0': [[-54, 2462000000], 3]}","{'00:14:bf:b1:97:90': [[-56, 2427000000], 3]}","{'00:14:bf:3b:c7:c6': [[-67, 2432000000], 3]}","{'00:14:bf:b1:97:81': [[-66, 2422000000], 3]}","{'00:14:bf:b1:97:8d': [[-70, 2442000000], 3]}",...,None,None,None,None,None,None,None,None,None,None
2,1139643119002,00:02:2D:21:0F:33,"[0.0, 0.0, 0.0]",0.0,"{'00:14:bf:b1:97:8a': [[-38, 2437000000], 3]}","{'00:0f:a3:39:e1:c0': [[-54, 2462000000], 3]}","{'00:14:bf:b1:97:90': [[-57, 2427000000], 3]}","{'00:14:bf:b1:97:81': [[-66, 2422000000], 3]}","{'00:14:bf:3b:c7:c6': [[-69, 2432000000], 3]}","{'00:14:bf:b1:97:8d': [[-70, 2442000000], 3]}",...,None,None,None,None,None,None,None,None,None,None
3,1139643119263,00:02:2D:21:0F:33,"[0.0, 0.0, 0.0]",0.0,"{'00:14:bf:b1:97:8a': [[-38, 2437000000], 3]}","{'00:14:bf:b1:97:90': [[-52, 2427000000], 3]}","{'00:0f:a3:39:e1:c0': [[-54, 2462000000], 3]}","{'00:14:bf:b1:97:81': [[-64, 2422000000], 3]}","{'00:14:bf:3b:c7:c6': [[-68, 2432000000], 3]}","{'00:14:bf:b1:97:8d': [[-74, 2442000000], 3]}",...,None,None,None,None,None,None,None,None,None,None
4,1139643119538,00:02:2D:21:0F:33,"[0.0, 0.0, 0.0]",0.0,"{'00:14:bf:b1:97:8a': [[-46, 2437000000], 3]}","{'00:0f:a3:39:e1:c0': [[-55, 2462000000], 3]}","{'00:14:bf:b1:97:90': [[-57, 2427000000], 3]}","{'00:14:bf:3b:c7:c6': [[-67, 2432000000], 3]}","{'00:0f:a3:39:dd:cd': [[-66, 2412000000], 3]}","{'00:0f:a3:39:e0:4b': [[-80, 2462000000], 3]}",...,None,None,None,None,None,None,None,None,None,None

# Clean Data

In [215]:
df.count()

t         151388
id        146080
pos       146080
degree    146080
MAC_0     146074
MAC_1     146041
MAC_2     146030
MAC_3     145965
MAC_4     145308
MAC_5     141435
MAC_6     127802
MAC_7      97147
MAC_8      54627
MAC_9      21489
MAC_10      6926
MAC_11      1860
MAC_12       566
MAC_13       218
MAC_14        85
MAC_15        36
MAC_16        13
MAC_17         3
MAC_18         1
MAC_19         1
MAC_20         1
dtype: int64

# Shape of id, pos, degree are equal

In [216]:
df5 = df[df.MAC_5.notnull()==True]

## Use 6 access points "MAC_5" and ommit all rows with nulls for "MAC_5"

In [217]:
df5.MAC_5.isnull().any()

False

In [219]:
df5.count()

t         141435
id        141435
pos       141435
degree    141435
MAC_0     141435
MAC_1     141435
MAC_2     141435
MAC_3     141435
MAC_4     141435
MAC_5     141435
MAC_6     127802
MAC_7      97147
MAC_8      54627
MAC_9      21489
MAC_10      6926
MAC_11      1860
MAC_12       566
MAC_13       218
MAC_14        85
MAC_15        36
MAC_16        13
MAC_17         3
MAC_18         1
MAC_19         1
MAC_20         1
dtype: int64

## Set new data frame as columns to MAC_9, ommitting 11-20

In [220]:
df5_10 = df5.iloc[:,:15]

df5_10.head()

,t,id,pos,degree,MAC_0,MAC_1,MAC_2,MAC_3,MAC_4,MAC_5,MAC_6,MAC_7,MAC_8,MAC_9,MAC_10
0,1139643118358,00:02:2D:21:0F:33,"[0.0, 0.0, 0.0]",0.0,"{'00:14:bf:b1:97:8a': [[-38, 2437000000], 3]}","{'00:14:bf:b1:97:90': [[-56, 2427000000], 3]}","{'00:0f:a3:39:e1:c0': [[-53, 2462000000], 3]}","{'00:14:bf:b1:97:8d': [[-65, 2442000000], 3]}","{'00:14:bf:b1:97:81': [[-65, 2422000000], 3]}","{'00:14:bf:3b:c7:c6': [[-66, 2432000000], 3]}","{'00:0f:a3:39:dd:cd': [[-75, 2412000000], 3]}","{'00:0f:a3:39:e0:4b': [[-78, 2462000000], 3]}","{'00:0f:a3:39:e2:10': [[-87, 2437000000], 3]}","{'02:64:fb:68:52:e6': [[-88, 2447000000], 1]}","{'02:00:42:55:31:00': [[-84, 2457000000], 1]}"
1,1139643118744,00:02:2D:21:0F:33,"[0.0, 0.0, 0.0]",0.0,"{'00:14:bf:b1:97:8a': [[-38, 2437000000], 3]}","{'00:0f:a3:39:e1:c0': [[-54, 2462000000], 3]}","{'00:14:bf:b1:97:90': [[-56, 2427000000], 3]}","{'00:14:bf:3b:c7:c6': [[-67, 2432000000], 3]}","{'00:14:bf:b1:97:81': [[-66, 2422000000], 3]}","{'00:14:bf:b1:97:8d': [[-70, 2442000000], 3]}","{'00:0f:a3:39:e0:4b': [[-79, 2462000000], 3]}","{'00:0f:a3:39:dd:cd': [[-73, 2412000000], 3]}","{'00:0f:a3:39:e2:10': [[-83, 2437000000], 3]}","{'02:00:42:55:31:00': [[-85, 2457000000], 1]}",None
2,1139643119002,00:02:2D:21:0F:33,"[0.0, 0.0, 0.0]",0.0,"{'00:14:bf:b1:97:8a': [[-38, 2437000000], 3]}","{'00:0f:a3:39:e1:c0': [[-54, 2462000000], 3]}","{'00:14:bf:b1:97:90': [[-57, 2427000000], 3]}","{'00:14:bf:b1:97:81': [[-66, 2422000000], 3]}","{'00:14:bf:3b:c7:c6': [[-69, 2432000000], 3]}","{'00:14:bf:b1:97:8d': [[-70, 2442000000], 3]}","{'00:0f:a3:39:e0:4b': [[-78, 2462000000], 3]}","{'00:0f:a3:39:e2:10': [[-83, 2437000000], 3]}","{'00:0f:a3:39:dd:cd': [[-65, 2412000000], 3]}","{'02:64:fb:68:52:e6': [[-90, 2447000000], 1]}",None
3,1139643119263,00:02:2D:21:0F:33,"[0.0, 0.0, 0.0]",0.0,"{'00:14:bf:b1:97:8a': [[-38, 2437000000], 3]}","{'00:14:bf:b1:97:90': [[-52, 2427000000], 3]}","{'00:0f:a3:39:e1:c0': [[-54, 2462000000], 3]}","{'00:14:bf:b1:97:81': [[-64, 2422000000], 3]}","{'00:14:bf:3b:c7:c6': [[-68, 2432000000], 3]}","{'00:14:bf:b1:97:8d': [[-74, 2442000000], 3]}","{'00:0f:a3:39:dd:cd': [[-78, 2412000000], 3]}","{'00:0f:a3:39:e0:4b': [[-78, 2462000000], 3]}","{'00:0f:a3:39:e2:10': [[-83, 2437000000], 3]}","{'02:00:42:55:31:00': [[-84, 2457000000], 1]}","{'02:64:fb:68:52:e6': [[-87, 2447000000], 1]}"
4,1139643119538,00:02:2D:21:0F:33,"[0.0, 0.0, 0.0]",0.0,"{'00:14:bf:b1:97:8a': [[-46, 2437000000], 3]}","{'00:0f:a3:39:e1:c0': [[-55, 2462000000], 3]}","{'00:14:bf:b1:97:90': [[-57, 2427000000], 3]}","{'00:14:bf:3b:c7:c6': [[-67, 2432000000], 3]}","{'00:0f:a3:39:dd:cd': [[-66, 2412000000], 3]}","{'00:0f:a3:39:e0:4b': [[-80, 2462000000], 3]}","{'00:0f:a3:39:e2:10': [[-83, 2437000000], 3]}","{'00:14:bf:b1:97:81': [[-66, 2422000000], 3]}","{'02:00:42:55:31:00': [[-87, 2457000000], 1]}",None,None

# Focus on not null data

In [221]:
df = df5.iloc[:,:10]

In [222]:
df.isnull().any()

t         False
id        False
pos       False
degree    False
MAC_0     False
MAC_1     False
MAC_2     False
MAC_3     False
MAC_4     False
MAC_5     False
dtype: bool